<div class="container">
    <div class="row">
        <div class="col-md-12 m-4">
            <div class="jumbotron">
                <h1 class="display-4">App Words</h1>
                <p class="lead">Esta es una aplicaci칩n de practica desarrollada en Node.js y MySQL</p>
                <hr class="my-4">
                <p>Para saber m치s acerca de Nodejs visita la documentaci칩n  dando click en el bot칩n learn more.</p>
                <p class="lead">
                    <a class="btn btn-primary btn-lg" href="https://nodejs.org/es/" role="button">Learn more</a>
                </p>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>