
*{
    font-family: 'Roboto', sans-serif;
}



body{
    height: 100%;
    background-image: url('../img/free-wallpaper.jpg');
    background-repeat: initial;
    
}


#logo-utec{
    height: 10em;
    width: 9em;
    display:block;
    margin:auto;
}

.btn-facebook{
    background:  rgb(66, 66, 199) !important;
    border: 0% !important;
}

.btn{
    border-radius: 0% !important;
}

input:focus{
    border-bottom-color: brown !important
}

