<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#2F2A21" />
    <title>Links App</title>
    {{!-- font awesome --}}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    {{!-- boostrap 4 --}}
    {{!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">--}}
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    {{!-- styles --}}
    <link rel="stylesheet" href="/css/styles.css">
    {{!--google fonts--}}
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>
<body id="body">
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="/">Words <i class="fas fa-university"></i></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav ml-auto">
                        {{#if user }}
                            <a class="nav-item nav-link active" href="/links">All Words</a>
                            <a class="nav-item nav-link active" href="/links/add">New Word</a>
                            <a class="nav-item nav-link active " href="/profile" >Profile</a>
                            <a class="nav-item nav-link active " href="/logout" >Log out <i class="fas fa-sign-out-alt"></i></a>
                        {{else}}
                            <a class="nav-item nav-link active " href="/signup">Sign up</a>
                            <a class="nav-item nav-link active " href="/signin" >Sing in <i class="fas fa-sign-in-alt"></i></a>
                        {{/if}}
                    </div>
                </div>
            </div>
        </nav>
    </header>
    {{> message}}
    {{{body}}}

    <footer>

    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="text/javascript">

        $(document).ready(function(){//inicializamos jquery

            var height = $(window).height();//obtenemos el alto del dispositivo 

            $('#body').height(height);//se lo pasamos al elemnto con el id body en su propiedad heigth
        });

    </script>
</body>
</html>